In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
from sklearn.impute import KNNImputer

In [4]:
df1['Humidity']=df1['Humidity ']
df1.drop(columns='Humidity ',axis=1,inplace=True)

In [2]:
final_df=pd.read_csv('Final_dataset.csv')

In [5]:
df2.columns
df2.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [6]:
df3.columns

Index(['CROP TYPE', 'SOIL TYPE', 'REGION', 'TEMPERATURE', 'WEATHER CONDITION',
       'WATER REQUIREMENT'],
      dtype='object')

In [7]:
df4.columns

Index(['CropType', 'CropDays', 'SoilMoisture', 'temperature', 'Humidity',
       'Irrigation'],
      dtype='object')

In [8]:
df1.columns

Index(['Temparature', 'Moisture', 'Soil Type', 'Crop Type', 'Nitrogen',
       'Potassium', 'Phosphorous', 'Fertilizer Name', 'Humidity'],
      dtype='object')

In [9]:
df1['Crop Name']=df1['Crop Type']
df1.drop(columns='Crop Type',axis=1,inplace=True)

In [10]:
df1.head()

,Temparature,Moisture,Soil Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name,Humidity,Crop Name
0,26,38,Sandy,37,0,0,Urea,52,Maize
1,29,45,Loamy,12,0,36,DAP,52,Sugarcane
2,34,62,Black,7,9,30,14-35-14,65,Cotton
3,32,34,Red,22,0,20,28-28,62,Tobacco
4,28,46,Clayey,35,0,0,Urea,54,Paddy

In [11]:
df1['N']=df1['Nitrogen']
df1.drop(columns='Nitrogen',axis=1,inplace=True)

In [12]:
df1['K']=df1['Potassium']
df1.drop(columns='Potassium',axis=1,inplace=True)

In [13]:
df1['P']=df1['Phosphorous']
df1.drop(columns='Phosphorous',axis=1,inplace=True)

In [14]:
df1['Temperature']=df1['Temparature']
df1.drop(columns='Temparature',axis=1,inplace=True)

In [15]:
df1.head()

,Moisture,Soil Type,Fertilizer Name,Humidity,Crop Name,N,K,P,Temperature
0,38,Sandy,Urea,52,Maize,37,0,0,26
1,45,Loamy,DAP,52,Sugarcane,12,0,36,29
2,62,Black,14-35-14,65,Cotton,7,9,30,34
3,34,Red,28-28,62,Tobacco,22,0,20,32
4,46,Clayey,Urea,54,Paddy,35,0,0,28

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Moisture         99 non-null     int64
 1   Soil Type        99 non-null     object
 2   Fertilizer Name  99 non-null     object
 3   Humidity         99 non-null     int64
 4   Crop Name        99 non-null     object
 5   N                99 non-null     int64
 6   K                99 non-null     int64
 7   P                99 non-null     int64
 8   Temperature      99 non-null     int64
dtypes: int64(6), object(3)
memory usage: 7.1+ KB

In [17]:
df1['Temperature']=df1['Temperature'].astype(float)
df1['Humidity']=df1['Humidity'].astype(float)

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [19]:

df2.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [20]:
df2['Temperature']=df2['temperature']
df2.drop(columns='temperature',axis=1,inplace=True)

In [21]:
df2['Humidity']=df2['humidity']
df2.drop(columns='humidity',axis=1,inplace=True)

In [22]:
df2['Crop Name']=df2['label']
df2.drop(columns='label',axis=1,inplace=True)

In [23]:
df2['Rainfall']=df2['rainfall']
df2.drop(columns='rainfall',axis=1,inplace=True)

In [24]:
df2.head()

    N   P   K        ph  Temperature   Humidity Crop Name    Rainfall
0  90  42  43  6.502985    20.879744  82.002744      rice  202.935536
1  85  58  41  7.038096    21.770462  80.319644      rice  226.655537
2  60  55  44  7.840207    23.004459  82.320763      rice  263.964248
3  74  35  40  6.980401    26.491096  80.158363      rice  242.864034
4  78  42  42  7.628473    20.130175  81.604873      rice  262.717340

In [25]:
final_df=df1.append(df2)

C:\Users\Windows 11\AppData\Local\Temp\ipykernel_4464\3400917728.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=df1.append(df2)

In [26]:
final_df

,Moisture,Soil Type,Fertilizer Name,Humidity,Crop Name,N,K,P,Temperature,ph,Rainfall
0,38.0,Sandy,Urea,52.000000,Maize,37,0,0,26.000000,NaN,NaN
1,45.0,Loamy,DAP,52.000000,Sugarcane,12,0,36,29.000000,NaN,NaN
2,62.0,Black,14-35-14,65.000000,Cotton,7,9,30,34.000000,NaN,NaN
3,34.0,Red,28-28,62.000000,Tobacco,22,0,20,32.000000,NaN,NaN
4,46.0,Clayey,Urea,54.000000,Paddy,35,0,0,28.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2195,NaN,NaN,NaN,66.413269,coffee,107,32,34,26.774637,6.780064,177.774507
2196,NaN,NaN,NaN,56.636362,coffee,99,27,15,27.417112,6.086922,127.924610
2197,NaN,NaN,NaN,67.225123,coffee,118,30,33,24.131797,6.362608,173.322839
2198,NaN,NaN,NaN,52.127394,coffee,117,34,32,26.272418,6.758793,127.175293
2199,NaN,NaN,NaN,60.396475,coffee,104,30,18,23.603016,6.779833,140.937041

In [27]:
df4.head()

  CropType  CropDays  SoilMoisture  temperature  Humidity  Irrigation
0    Wheat        10           400           30        15           0
1    Wheat         7           200           30        32           0
2    Wheat         9           300           21        28           0
3    Wheat         3           500           40        22           0
4    Wheat         2           700           23        34           0

In [28]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CropType      501 non-null    object
 1   CropDays      501 non-null    int64
 2   SoilMoisture  501 non-null    int64
 3   temperature   501 non-null    int64
 4   Humidity      501 non-null    int64
 5   Irrigation    501 non-null    int64
dtypes: int64(5), object(1)
memory usage: 23.6+ KB

In [29]:
df4['Temperature']=df4['temperature']
df4.drop(columns='temperature',axis=1,inplace=True)

In [30]:
df4['Crop Name']=df4['CropType']
df4.drop(columns='CropType',axis=1,inplace=True)

In [31]:
df4.head()
df4.columns

Index(['CropDays', 'SoilMoisture', 'Humidity', 'Irrigation', 'Temperature',
       'Crop Name'],
      dtype='object')

In [32]:
df1.columns

Index(['Moisture', 'Soil Type', 'Fertilizer Name', 'Humidity', 'Crop Name',
       'N', 'K', 'P', 'Temperature'],
      dtype='object')

In [33]:
final_df=final_df.append(df4)

C:\Users\Windows 11\AppData\Local\Temp\ipykernel_4464\2748422603.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(df4)

In [34]:
df3.columns

Index(['CROP TYPE', 'SOIL TYPE', 'REGION', 'TEMPERATURE', 'WEATHER CONDITION',
       'WATER REQUIREMENT'],
      dtype='object')

In [35]:

# Function to clean and convert temperature ranges to single values
def clean_temperature(temp):
    if '-' in temp:
        start, end = temp.split('-')
        return (int(start) + int(end)) / 2
    else:
        return int(temp)

# Apply the cleaning function to the 'TEMPERATURE' column
df3['Temperature'] = df3['TEMPERATURE'].apply(clean_temperature)

In [36]:
df3.head()

,CROP TYPE,SOIL TYPE,REGION,TEMPERATURE,WEATHER CONDITION,WATER REQUIREMENT,Temperature
0,BANANA,DRY,DESERT,10-20,NORMAL,8.75,15.0
1,BANANA,DRY,DESERT,10-20,SUNNY,10.25,15.0
2,BANANA,DRY,DESERT,10-20,WINDY,9.65,15.0
3,BANANA,DRY,DESERT,10-20,RAINY,0.75,15.0
4,BANANA,DRY,DESERT,20-30,NORMAL,9.85,25.0

In [37]:
df3.drop(columns='TEMPERATURE',axis=1,inplace=True)

In [38]:
df3.head()

,CROP TYPE,SOIL TYPE,REGION,WEATHER CONDITION,WATER REQUIREMENT,Temperature
0,BANANA,DRY,DESERT,NORMAL,8.75,15.0
1,BANANA,DRY,DESERT,SUNNY,10.25,15.0
2,BANANA,DRY,DESERT,WINDY,9.65,15.0
3,BANANA,DRY,DESERT,RAINY,0.75,15.0
4,BANANA,DRY,DESERT,NORMAL,9.85,25.0

In [39]:
df3['Crop Name']=df3['CROP TYPE']
df3.drop(columns='CROP TYPE',axis=1,inplace=True)

In [40]:
df3['Soil Type']=df3['SOIL TYPE']
df3.drop(columns='SOIL TYPE',axis=1,inplace=True)

In [41]:
df3.head()

,REGION,WEATHER CONDITION,WATER REQUIREMENT,Temperature,Crop Name,Soil Type
0,DESERT,NORMAL,8.75,15.0,BANANA,DRY
1,DESERT,SUNNY,10.25,15.0,BANANA,DRY
2,DESERT,WINDY,9.65,15.0,BANANA,DRY
3,DESERT,RAINY,0.75,15.0,BANANA,DRY
4,DESERT,NORMAL,9.85,25.0,BANANA,DRY

In [42]:
final_df=final_df.append(df3)

C:\Users\Windows 11\AppData\Local\Temp\ipykernel_4464\104589140.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df=final_df.append(df3)

In [43]:
final_df

,Moisture,Soil Type,Fertilizer Name,Humidity,Crop Name,N,K,P,Temperature,ph,Rainfall,CropDays,SoilMoisture,Irrigation,REGION,WEATHER CONDITION,WATER REQUIREMENT
0,38.0,Sandy,Urea,52.0,Maize,37.0,0.0,0.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,45.0,Loamy,DAP,52.0,Sugarcane,12.0,0.0,36.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,62.0,Black,14-35-14,65.0,Cotton,7.0,9.0,30.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,34.0,Red,28-28,62.0,Tobacco,22.0,0.0,20.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,46.0,Clayey,Urea,54.0,Paddy,35.0,0.0,0.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,NaN,WET,NaN,NaN,ONION,NaN,NaN,NaN,35.0,NaN,NaN,NaN,NaN,NaN,HUMID,RAINY,0.100
2876,NaN,WET,NaN,NaN,ONION,NaN,NaN,NaN,45.0,NaN,NaN,NaN,NaN,NaN,HUMID,NORMAL,4.625
2877,NaN,WET,NaN,NaN,ONION,NaN,NaN,NaN,45.0,NaN,NaN,NaN,NaN,NaN,HUMID,SUNNY,6.125
2878,NaN,WET,NaN,NaN,ONION,NaN,NaN,NaN,45.0,NaN,NaN,NaN,NaN,NaN,HUMID,WINDY,5.625
2879,NaN,WET,NaN,NaN,ONION,NaN,NaN,NaN,45.0,NaN,NaN,NaN,NaN,NaN,HUMID,RAINY,0.200

In [44]:
def convert_to_lowercase(df):
    # Convert all string columns to lowercase
    string_columns = df.select_dtypes(include=['object']).columns
    df[string_columns] = df[string_columns].apply(lambda x: x.str.lower())

# Call the function to convert categorical data to lowercase
convert_to_lowercase(final_df)

In [45]:
final_df

,Moisture,Soil Type,Fertilizer Name,Humidity,Crop Name,N,K,P,Temperature,ph,Rainfall,CropDays,SoilMoisture,Irrigation,REGION,WEATHER CONDITION,WATER REQUIREMENT
0,38.0,sandy,urea,52.0,maize,37.0,0.0,0.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,45.0,loamy,dap,52.0,sugarcane,12.0,0.0,36.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,62.0,black,14-35-14,65.0,cotton,7.0,9.0,30.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,34.0,red,28-28,62.0,tobacco,22.0,0.0,20.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,46.0,clayey,urea,54.0,paddy,35.0,0.0,0.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,NaN,wet,NaN,NaN,onion,NaN,NaN,NaN,35.0,NaN,NaN,NaN,NaN,NaN,humid,rainy,0.100
2876,NaN,wet,NaN,NaN,onion,NaN,NaN,NaN,45.0,NaN,NaN,NaN,NaN,NaN,humid,normal,4.625
2877,NaN,wet,NaN,NaN,onion,NaN,NaN,NaN,45.0,NaN,NaN,NaN,NaN,NaN,humid,sunny,6.125
2878,NaN,wet,NaN,NaN,onion,NaN,NaN,NaN,45.0,NaN,NaN,NaN,NaN,NaN,humid,windy,5.625
2879,NaN,wet,NaN,NaN,onion,NaN,NaN,NaN,45.0,NaN,NaN,NaN,NaN,NaN,humid,rainy,0.200

In [46]:
knn=KNNImputer(n_neighbors=4,weights='distance')
final_df_trf=knn.fit_transform(final_df)

ValueError: could not convert string to float: 'sandy'

In [47]:
from sklearn.impute import KNNImputer
import pandas as pd

def knn_impute_numerical_data(df, n_neighbors=5, weights='uniform'):
    # Identify numerical columns
    numerical_columns = df.select_dtypes(include=['number']).columns
    
    # Create a copy of the DataFrame with only numerical columns
    numerical_df = df[numerical_columns].copy()
    
    # Instantiate the KNNImputer
    knn_imputer = KNNImputer(n_neighbors=n_neighbors, weights=weights)
    
    # Apply the imputer to numerical columns
    numerical_df_imputed = knn_imputer.fit_transform(numerical_df)
    
    # Replace the original numerical columns with the imputed values
    df[numerical_columns] = numerical_df_imputed
    
    return df

In [48]:
df=knn_impute_numerical_data(final_df, n_neighbors=5, weights='uniform')

In [49]:
df

,Moisture,Soil Type,Fertilizer Name,Humidity,Crop Name,N,K,P,Temperature,ph,Rainfall,CropDays,SoilMoisture,Irrigation,REGION,WEATHER CONDITION,WATER REQUIREMENT
0,38.0,sandy,urea,52.000000,maize,37.0,0.0,0.0,26.0,5.634988,94.061365,76.2,387.6,0.2,NaN,NaN,6.150
1,45.0,loamy,dap,52.000000,sugarcane,12.0,0.0,36.0,29.0,7.023451,49.064973,76.2,387.6,0.2,NaN,NaN,5.900
2,62.0,black,14-35-14,65.000000,cotton,7.0,9.0,30.0,34.0,6.963972,61.484169,31.0,428.0,0.2,NaN,NaN,7.260
3,34.0,red,28-28,62.000000,tobacco,22.0,0.0,20.0,32.0,6.129414,63.302061,52.0,473.8,0.2,NaN,NaN,10.200
4,46.0,clayey,urea,54.000000,paddy,35.0,0.0,0.0,28.0,5.634988,94.061365,94.4,479.6,0.4,NaN,NaN,6.150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,40.2,wet,NaN,24.600000,onion,13.4,7.8,47.0,35.0,6.580795,102.647158,69.0,480.2,0.6,humid,rainy,0.100
2876,46.0,wet,NaN,93.568158,onion,55.8,50.0,59.6,45.0,6.690957,116.520486,41.6,586.0,1.0,humid,normal,4.625
2877,46.0,wet,NaN,93.568158,onion,55.8,50.0,59.6,45.0,6.690957,116.520486,41.6,586.0,1.0,humid,sunny,6.125
2878,46.0,wet,NaN,93.568158,onion,55.8,50.0,59.6,45.0,6.690957,116.520486,41.6,586.0,1.0,humid,windy,5.625
2879,46.0,wet,NaN,93.568158,onion,55.8,50.0,59.6,45.0,6.690957,116.520486,41.6,586.0,1.0,humid,rainy,0.200

In [50]:
df.isnull().sum()

Moisture                0
Soil Type            2701
Fertilizer Name      5581
Humidity                0
Crop Name               0
N                       0
K                       0
P                       0
Temperature             0
ph                      0
Rainfall                0
CropDays                0
SoilMoisture            0
Irrigation              0
REGION               2800
WEATHER CONDITION    2800
WATER REQUIREMENT       0
dtype: int64

In [51]:
final_df.shape

(5680, 17)

In [61]:
final_df['REGION'].unique()

array([nan, 'desert', 'semi arid', 'semi humid', 'humid'], dtype=object)

In [ ]:
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.preprocessing import OneHotEncoder

def encode_categorical_data(df):
    # Identify categorical columns
    categorical_columns = df.select_dtypes(include=['object']).columns
    
    # One-hot encode categorical columns
    encoder = OneHotEncoder()
    encoded_data = encoder.fit_transform(df[categorical_columns])
    
    # Create a DataFrame with encoded categorical columns
    encoded_df = pd.DataFrame(encoded_data.toarray(), columns=encoder.get_feature_names(categorical_columns))
    
    # Concatenate encoded categorical columns with numerical columns
    df_encoded = pd.concat([df.drop(columns=categorical_columns), encoded_df], axis=1)
    
    return df_encoded, encoder

def decode_categorical_data(df_encoded, encoder):
    # Decode the one-hot encoded columns back to the original categorical values
    decoded_data = encoder.inverse_transform(df_encoded.iloc[:, -len(encoder.categories_):])
    
    # Create a DataFrame with decoded categorical columns
    decoded_df = pd.DataFrame(decoded_data, columns=encoder.get_feature_names())
    
    # Concatenate decoded categorical columns with numerical columns
    df_decoded = pd.concat([df_encoded.drop(columns=encoder.get_feature_names()), decoded_df], axis=1)
    
    return df_decoded

def knn_impute(df, n_neighbors=5, weights='uniform'):
    # Identify numerical columns
    numerical_columns = df.select_dtypes(include=['number']).columns
    
    # Create a copy of the DataFrame with only numerical columns
    numerical_df = df[numerical_columns].copy()
    
    # Instantiate the KNNImputer
    knn_imputer = KNNImputer(n_neighbors=n_neighbors, weights=weights)
    
    # Apply the imputer to numerical columns
    numerical_df_imputed = knn_imputer.fit_transform(numerical_df)
    
    # Replace the original numerical columns with the imputed values
    df_imputed = pd.DataFrame(numerical_df_imputed, columns=numerical_columns)
    
    return df_imputed

# Example usage:
# Assuming df is your DataFrame containing both numerical and categorical columns
# Step 1: Encode categorical data
df_encoded, encoder = encode_categorical_data(df)

# Step 2: Apply KNN imputation
df_imputed = knn_impute(df_encoded)

# Step 3: Decode the imputed data back to its original form
df_decoded = decode_categorical_data(df_imputed, encoder)

In [ ]:
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.preprocessing import OneHotEncoder

def encode_categorical_data(df):
    # Identify categorical columns
    categorical_columns = df.select_dtypes(include=['object']).columns
    
    # One-hot encode categorical columns
    encoder = OneHotEncoder()
    encoded_data = encoder.fit_transform(df[categorical_columns])
    
    # Get feature names for one-hot encoded columns
    feature_names = encoder.get_feature_names_out(categorical_columns)
    
    # Create a DataFrame with encoded categorical columns
    encoded_df = pd.DataFrame(encoded_data.toarray(), columns=feature_names)
    
    # Concatenate encoded categorical columns with numerical columns
    df_encoded = pd.concat([df.drop(columns=categorical_columns).reset_index(drop=True), encoded_df.reset_index(drop=True)], axis=1)
    
    return df_encoded, encoder

def decode_categorical_data(df_encoded, encoder):
    # Identify categorical columns
    categorical_columns = df_encoded.columns[len(df_encoded.select_dtypes(include=['number']).columns):]
    
    # Check if there are categorical columns
    if categorical_columns.empty:
        print("No categorical columns found in the encoded DataFrame.")
        return df_encoded
    
    # Convert DataFrame to array
    encoded_array = df_encoded[categorical_columns].values
    
    # Check if the array is empty
    if encoded_array.size == 0:
        print("Encoded array is empty.")
        return df_encoded
    
    # Decode the array
    decoded_data = encoder.inverse_transform(encoded_array)
    
    # Create a DataFrame with decoded categorical columns
    decoded_df = pd.DataFrame(decoded_data, columns=categorical_columns)
    
    # Concatenate decoded categorical columns with numerical columns
    df_decoded = pd.concat([df_encoded.drop(columns=categorical_columns), decoded_df], axis=1)
    
    return df_decoded

def knn_impute(df, n_neighbors=5, weights='uniform'):
    # Identify numerical columns
    numerical_columns = df.select_dtypes(include=['number']).columns
    
    # Create a copy of the DataFrame with only numerical columns
    numerical_df = df[numerical_columns].copy()
    
    # Instantiate the KNNImputer
    knn_imputer = KNNImputer(n_neighbors=n_neighbors, weights=weights)
    
    # Apply the imputer to numerical columns
    numerical_df_imputed = knn_imputer.fit_transform(numerical_df)
    
    # Replace the original numerical columns with the imputed values
    df_imputed = pd.DataFrame(numerical_df_imputed, columns=numerical_columns)
    
    return df_imputed

# Example usage:
# Assuming df is your DataFrame containing both numerical and categorical columns
# Step 1: Encode categorical data
df_encoded, encoder = encode_categorical_data(df)

# Step 2: Apply KNN imputation
df_imputed = knn_impute(df_encoded)

# Step 3: Decode the imputed data back to its original form
df_decoded = decode_categorical_data(df_imputed, encoder)

In [ ]:
df

In [ ]:
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.preprocessing import OneHotEncoder

def encode_categorical_data(df):
    # Identify categorical columns
    categorical_columns = df.select_dtypes(include=['object']).columns
    
    # One-hot encode categorical columns
    encoder = OneHotEncoder()
    encoded_data = encoder.fit_transform(df[categorical_columns])
    
    # Get feature names for one-hot encoded columns
    feature_names = encoder.get_feature_names_out(categorical_columns)
    
    # Create a DataFrame with encoded categorical columns
    encoded_df = pd.DataFrame(encoded_data.toarray(), columns=feature_names)
    
    # Concatenate encoded categorical columns with numerical columns
    df_encoded = pd.concat([df.drop(columns=categorical_columns).reset_index(drop=True), encoded_df.reset_index(drop=True)], axis=1)
    
    return df_encoded, encoder

def decode_categorical_data(df_encoded, encoder):
    # Identify categorical columns
    categorical_columns = df_encoded.columns[len(df_encoded.select_dtypes(include=['number']).columns):]
    
    # Check if there are categorical columns
    if categorical_columns.empty:
        print("No categorical columns found in the encoded DataFrame.")
        return df_encoded
    
    # Convert DataFrame to array
    encoded_array = df_encoded[categorical_columns].values
    
    # Check if the array is empty
    if encoded_array.size == 0:
        print("Encoded array is empty.")
        return df_encoded
    
    # Decode the array
    decoded_data = encoder.inverse_transform(encoded_array)
    
    # Create a DataFrame with decoded categorical columns
    decoded_df = pd.DataFrame(decoded_data, columns=categorical_columns)
    
    # Concatenate decoded categorical columns with numerical columns
    df_decoded = pd.concat([df_encoded.drop(columns=categorical_columns), decoded_df], axis=1)
    
    return df_decoded

def knn_impute(df, n_neighbors=5, weights='uniform'):
    # Identify numerical columns
    numerical_columns = df.select_dtypes(include=['number']).columns
    
    # Create a copy of the DataFrame with only numerical columns
    numerical_df = df[numerical_columns].copy()
    
    # Instantiate the KNNImputer
    knn_imputer = KNNImputer(n_neighbors=n_neighbors, weights=weights)
    
    # Apply the imputer to numerical columns
    numerical_df_imputed = knn_imputer.fit_transform(numerical_df)
    
    # Replace the original numerical columns with the imputed values
    df_imputed = pd.DataFrame(numerical_df_imputed, columns=numerical_columns)
    
    return df_imputed

# Example usage:
# Assuming df is your DataFrame containing both numerical and categorical columns
# Step 1: Encode categorical data
df_encoded, encoder = encode_categorical_data(df)

# Step 2: Apply KNN imputation
df_imputed = knn_impute(df_encoded)

# Step 3: Decode the imputed data back to its original form
df_decoded = decode_categorical_data(df_imputed, encoder)

In [65]:
final_df.columns

Index(['Moisture', 'Soil Type', 'Fertilizer Name', 'Humidity', 'Crop Name',
       'N', 'K', 'P', 'Temperature', 'ph', 'Rainfall', 'CropDays',
       'SoilMoisture', 'Irrigation', 'REGION', 'WEATHER CONDITION',
       'WATER REQUIREMENT'],
      dtype='object')

In [70]:
final_df['Soil Type'].unique()

array(['sandy', 'loamy', 'black', 'red', 'clayey', nan, 'dry', 'humid',
       'wet'], dtype=object)

In [71]:
final_df['WEATHER CONDITION'].unique()

array([nan, 'normal', 'sunny', 'windy', 'rainy'], dtype=object)

In [72]:
#mapping/encoding data categorical data
def map_soil_type(encoded_soil_type):
    soil_type_mapping = {
        0: 'sandy',
        1: 'loamy',
        2: 'black',
        3: 'red',
        4: 'clayey',
        5: 'dry',
        6: 'humid',
        7: 'wet'
    }
    return soil_type_mapping.get(encoded_soil_type, 'Unknown')

def map_fertilizer_name(encoded_fertilizer_name):
    fertilizer_name_mapping = {
        0: 'urea',
        1: 'dap',
        2: '14-35-14',
        3: '28-28',
        4: '17-17-17',
        5: '20-20',
        6: '10-26-26'
    }
    return fertilizer_name_mapping.get(encoded_fertilizer_name, 'Unknown')

def map_region(encoded_region):
    region_mapping = {
        0: 'desert',
        1: 'humid',
        2: 'semi arid',
        3: 'semi humid',
    }
    return region_mapping.get(encoded_region, 'Unknown')

def map_weather_condition(encoded_weather_condition):
    weather_condition_mapping = {
        0: 'normal',
        1: 'rainy',
        2: 'sunny',
        3: 'windy',
    }
    return weather_condition_mapping.get(encoded_weather_condition, 'Unknown')

# Apply mapping functions to the encoded columns
final_df['Soil Type'] = final_df['Soil Type'].apply(map_soil_type)
final_df['Fertilizer Name'] = final_df['Fertilizer Name'].apply(map_fertilizer_name)
final_df['Crop Name'] = final_df['Crop Name'].apply(map_crop_name)
final_df['REGION'] = final_df['REGION'].apply(map_region)
final_df['WEATHER CONDITION'] = final_df['WEATHER CONDITION'].apply(map_weather_condition)

# Rename columns for consistency
df_decoded = final_df.rename(columns={
    'Moisture': 'Moisture',
    'Humidity': 'Humidity',
    'N': 'N',
    'K': 'K',
    'P': 'P',
    'Temperature': 'Temperature',
    'ph': 'ph',
    'Rainfall': 'Rainfall',
    'CropDays': 'CropDays',
    'SoilMoisture': 'SoilMoisture',
    'Irrigation': 'Irrigation',
    'WATER REQUIREMENT': 'WATER REQUIREMENT'
})

# Reorder columns to match the original dataset
original_columns_order = ['Moisture', 'Soil Type', 'Fertilizer Name', 'Humidity', 'Crop Name', 'N', 'K', 'P', 'Temperature', 'ph', 'Rainfall', 'CropDays', 'SoilMoisture', 'Irrigation', 'REGION', 'WEATHER CONDITION', 'WATER REQUIREMENT']
df_decoded = df_decoded[original_columns_order]

# Display the decoded DataFrame
print(df_decoded)

      Moisture Soil Type Fertilizer Name   Humidity Crop Name     N     K  \
0         38.0   Unknown         Unknown  52.000000   Unknown  37.0   0.0
1         45.0   Unknown         Unknown  52.000000   Unknown  12.0   0.0
2         62.0   Unknown         Unknown  65.000000   Unknown   7.0   9.0
3         34.0   Unknown         Unknown  62.000000   Unknown  22.0   0.0
4         46.0   Unknown         Unknown  54.000000   Unknown  35.0   0.0
...        ...       ...             ...        ...       ...   ...   ...
2875      40.2   Unknown         Unknown  24.600000   Unknown  13.4   7.8
2876      46.0   Unknown         Unknown  93.568158   Unknown  55.8  50.0
2877      46.0   Unknown         Unknown  93.568158   Unknown  55.8  50.0
2878      46.0   Unknown         Unknown  93.568158   Unknown  55.8  50.0
2879      46.0   Unknown         Unknown  93.568158   Unknown  55.8  50.0

         P  Temperature        ph    Rainfall  CropDays  SoilMoisture  \
0      0.0         26.0  5.634988   94.061365      76.2         387.6
1     36.0         29.0  7.023451   49.064973      76.2         387.6
2     30.0         34.0  6.963972   61.484169      31.0         428.0
3     20.0         32.0  6.129414   63.302061      52.0         473.8
4      0.0         28.0  5.634988   94.061365      94.4         479.6
...    ...          ...       ...         ...       ...           ...
2875  47.0         35.0  6.580795  102.647158      69.0         480.2
2876  59.6         45.0  6.690957  116.520486      41.6         586.0
2877  59.6         45.0  6.690957  116.520486      41.6         586.0
2878  59.6         45.0  6.690957  116.520486      41.6         586.0
2879  59.6         45.0  6.690957  116.520486      41.6         586.0

      Irrigation   REGION WEATHER CONDITION  WATER REQUIREMENT
0            0.2  Unknown           Unknown              6.150
1            0.2  Unknown           Unknown              5.900
2            0.2  Unknown           Unknown              7.260
3            0.2  Unknown           Unknown             10.200
4            0.4  Unknown           Unknown              6.150
...          ...      ...               ...                ...
2875         0.6  Unknown           Unknown              0.100
2876         1.0  Unknown           Unknown              4.625
2877         1.0  Unknown           Unknown              6.125
2878         1.0  Unknown           Unknown              5.625
2879         1.0  Unknown           Unknown              0.200

[5680 rows x 17 columns]

In [ ]:
#Decoding the Data(categorical data)
import pandas as pd

# Original numerical columns
numerical_columns = ['Moisture', 'Humidity', 'N', 'K', 'P', 'Temperature', 'ph', 'Rainfall', 'CropDays', 'SoilMoisture']

# Mapping dictionary for encoded categorical columns
categorical_mapping = {
    'Soil Type': {0: 'sandy', 1: 'loamy', 2: 'black', 3: 'red', 4: 'clayey', 5: 'wet'},
    'Fertilizer Name': {0: 'urea', 1: 'dap', 2: '14-35-14', 3: '28-28', 4: 'NaN'},
    'Crop Name': {0: 'maize', 1: 'sugarcane', 2: 'cotton', 3: 'tobacco', 4: 'paddy', 5: 'onion'},
    'Irrigation': {0: 0.2, 1: 0.4, 2: 0.6, 3: 1.0},
    'REGION': {0: 'NaN', 1: 'arid', 2: 'desert', 3: 'humid', 4: 'semi arid', 5: 'semi humid'},
    'WEATHER CONDITION': {0: 'NaN', 1: 'normal', 2: 'rainy', 3: 'sunny', 4: 'windy'}
}

# Load the encoded dataset
encoded_df = df  # Assuming the encoded dataset is saved in a CSV file

# Decode categorical columns
for column, mapping in categorical_mapping.items():
    encoded_df[column] = encoded_df[column].map(mapping)

# Reorder columns to match the desired order
desired_order = ['Moisture', 'Soil Type', 'Fertilizer Name', 'Humidity', 'Crop Name', 'N', 'K', 'P', 'Temperature', 'ph', 'Rainfall', 'CropDays', 'SoilMoisture', 'Irrigation', 'REGION', 'WEATHER CONDITION', 'WATER REQUIREMENT']
decoded_df = encoded_df[desired_order]

# Display the decoded DataFrame
print(decoded_df)

In [75]:
df_decoded.sample(50)

,Moisture,Soil Type,Fertilizer Name,Humidity,Crop Name,N,K,P,Temperature,ph,Rainfall,CropDays,SoilMoisture,Irrigation,REGION,WEATHER CONDITION,WATER REQUIREMENT
1329,41.8,Unknown,Unknown,88.945683,Unknown,88.0,51.0,29.0,24.718855,6.095690,48.459786,53.2,379.2,0.4,Unknown,Unknown,5.732
2821,52.8,Unknown,Unknown,35.000000,Unknown,15.0,6.6,15.0,25.000000,6.980500,138.513318,49.6,463.4,0.4,Unknown,Unknown,5.000
2188,35.2,Unknown,Unknown,52.978412,Unknown,107.0,31.0,31.0,23.171246,6.766184,153.120164,72.6,393.2,0.2,Unknown,Unknown,7.320
520,45.0,Unknown,Unknown,55.591604,Unknown,11.0,17.0,44.0,26.340433,8.016211,35.105120,71.4,524.4,0.6,Unknown,Unknown,5.900
1734,52.8,Unknown,Unknown,35.000000,Unknown,15.0,6.6,15.0,25.000000,6.980500,138.513318,49.6,463.4,0.4,Unknown,Unknown,12.500
1633,49.2,Unknown,Unknown,90.223992,Unknown,15.0,8.0,14.0,10.010813,6.220943,119.394106,76.6,313.8,0.2,Unknown,Unknown,3.384
1100,43.6,Unknown,Unknown,93.568158,Unknown,55.8,50.0,59.6,45.000000,6.690957,116.520486,41.6,586.0,1.0,Unknown,Unknown,6.600
2139,37.6,Unknown,Unknown,55.832890,Unknown,113.0,33.0,21.0,26.022414,7.277423,176.902092,69.0,524.2,0.6,Unknown,Unknown,7.320
189,38.8,Unknown,Unknown,71.516474,Unknown,92.0,23.0,60.0,18.667467,5.721667,69.932933,43.2,360.0,0.4,Unknown,Unknown,3.384
1609,40.2,Unknown,Unknown,24.600000,Unknown,13.4,7.8,47.0,35.000000,6.580795,102.647158,69.0,480.2,0.6,Unknown,Unknown,8.900
275,52.8,Unknown,Unknown,72.000000,Unknown,31.4,126.6,96.6,15.000000,6.052086,90.716917,55.4,353.0,0.0,Unknown,Unknown,0.100
1988,42.2,Unknown,Unknown,84.168552,Unknown,126.0,21.0,37.0,25.849973,6.614486,77.034212,40.2,375.4,0.4,Unknown,Unknown,5.592
2149,52.8,Unknown,Unknown,35.000000,Unknown,15.0,6.6,15.0,25.000000,6.980500,138.513318,49.6,463.4,0.4,Unknown,Unknown,9.450
1891,48.8,Unknown,Unknown,99.724010,Unknown,21.0,31.0,20.0,25.600337,5.855458,165.824873,60.0,315.8,0.2,Unknown,Unknown,7.320
667,40.2,Unknown,Unknown,24.600000,Unknown,13.4,7.8,47.0,35.000000,6.580795,102.647158,69.0,480.2,0.6,Unknown,Unknown,0.800
460,45.0,Unknown,Unknown,16.000000,Unknown,31.4,18.6,71.0,25.000000,5.655380,98.579366,21.0,211.0,0.0,Unknown,Unknown,3.994
171,40.2,Unknown,Unknown,24.600000,Unknown,13.4,7.8,47.0,35.000000,6.580795,102.647158,69.0,480.2,0.6,Unknown,Unknown,0.200
688,48.4,Unknown,Unknown,83.789115,Unknown,39.0,15.0,37.0,28.997315,6.821747,59.844992,40.2,375.4,0.4,Unknown,Unknown,7.872
982,52.8,Unknown,Unknown,35.000000,Unknown,15.0,6.6,15.0,25.000000,6.980500,138.513318,49.6,463.4,0.4,Unknown,Unknown,7.580
394,34.4,Unknown,Unknown,24.329916,Unknown,7.0,18.0,56.0,18.313575,5.698371,76.141539,175.2,325.6,0.2,Unknown,Unknown,7.050
1024,52.8,Unknown,Unknown,72.000000,Unknown,31.4,126.6,96.6,15.000000,6.052086,90.716917,55.4,353.0,0.0,Unknown,Unknown,4.680
982,45.2,Unknown,Unknown,92.975275,Unknown,32.0,42.0,13.0,23.501282,5.786058,106.619050,64.6,361.8,0.4,Unknown,Unknown,5.592
575,35.2,Unknown,Unknown,52.609500,Unknown,27.0,20.0,59.0,28.009374,4.397699,36.012030,76.2,387.6,0.2,Unknown,Unknown,6.960
352,47.2,Unknown,Unknown,72.000000,Unknown,77.0,20.2,56.6,16.000000,6.292075,73.740962,9.0,146.0,0.0,Unknown,Unknown,4.556
2086,52.8,Unknown,Unknown,35.000000,Unknown,15.0,6.6,15.0,25.000000,6.980500,138.513318,49.6,463.4,0.4,Unknown,Unknown,4.340
551,52.8,Unknown,Unknown,35.000000,Unknown,15.0,6.6,15.0,25.000000,6.980500,138.513318,49.6,463.4,0.4,Unknown,Unknown,0.100
1949,46.0,Unknown,Unknown,93.568158,Unknown,55.8,50.0,59.6,45.000000,6.690957,116.520486,41.6,586.0,1.0,Unknown,Unknown,10.080
1538,52.8,Unknown,Unknown,72.000000,Unknown,31.4,126.6,96.6,15.000000,6.052086,90.716917,55.4,353.0,0.0,Unknown,Unknown,7.800
1000,45.0,Unknown,Unknown,23.800000,Unknown,13.4,7.8,47.0,35.000000,6.580795,102.647158,69.0,480.2,0.6,Unknown,Unknown,6.860
862,46.0,Unknown,Unknown,93.568158,Unknown,55.8,50.0,59.6,45.000000,6.690957,116.520486,41.6,586.0,1.0,Unknown,Unknown,15.500
2750,46.0,Unknown,Unknown,93.568158,Unknown,55.8,50.0,59.6,45.000000,6.690957,116.520486,41.6,586.0,1.0,Unknown,Unknown,6.750
2059,40.2,Unknown,Unknown,24.600000,Unknown,13.4,7.8,47.0,35.000000,6.580795,102.647158,69.0,480.2,0.6,Unknown,Unknown,0.300
976,45.2,Unknown,Unknown,88.876513,Unknown,22.0,44.0,9.0,24.722355,5.744362,112.192652,53.2,379.2,0.4,Unknown,Unknown,5.732
733,50.4,Unknown,Unknown,69.018529,Unknown,53.0,17.0,67.0,31.776817,7.296972,61.468929,28.4,405.0,0.4,Unknown,Unknown,9.800
1717,51.4,Unknown,Unknown,35.000000,Unknown,15.0,6.6,15.0,25.000000,6.980500,138.513318,49.6,463.4,0.4,Unknown,Unknown,4.100
1353,40.2,Unknown,Unknown,24.600000,Unknown,13.4,7.8,47.0,35.000000,6.580795,102.647158,69.0,480.2,0.6,Unknown,Unknown,8.500
1665,52.8,Unknown,Unknown,72.000000,Unknown,31.4,126.6,96.6,15.000000,6.052086,90.716917,55.4,353.0,0.0,Unknown,Unknown,5.600
2054,42.2,Unknown,Unknown,79.951509,Unknown,88.0,40.0,50.0,25.632150,7.051822,182.258228,52.6,389.8,0.4,Unknown,Unknown,7.320
2069,41.8,Unknown,Unknown,86.970615,Unknown,82.0,35.0,35.0,25.493868,7.299076,176.526827,40.2,375.4,0.4,Unknown,Unknown,7.320
2004,38.8,Unknown,Unknown,72.004608,Unknown,96.0,40.0,41.0,23.584193,6.090060,190.424216,40.4,449.2,0.6,Unknown,Unknown,7.320
1059,52.8,Unknown,Unknown,72.000000,Unknown,31.4,126.6,96.6,15.000000,6.052086,90.716917,55.4,353.0,0.0,Unknown,Unknown,0.100
725,43.4,Unknown,Unknown,61.692951,Unknown,48.0,21.0,61.0,30.284966,6.628265,65.628595,69.6,493.8,0.2,Unknown,Unknown,486.516
2670,46.0,Unknown,Unknown,93.568158,Unknown,55.8,50.0,59.6,45.000000,6.690957,116.520486,41.6,586.0,1.0,Unknown,Unknown,6.340
1664,43.4,Unknown,Unknown,93.724851,Unknown,19.0,15.0,24.0,20.489545,7.137137,111.839195,64.6,361.8,0.4,Unknown,Unknown,5.732
1621,52.8,Unknown,Unknown,35.000000,Unknown,15.0,6.6,15.0,25.000000,6.980500,138.513318,49.6,463.4,0.4,Unknown,Unknown,7.300
2085,45.0,Unknown,Unknown,27.400000,Unknown,15.0,6.6,15.0,25.000000,6.980500,138.513318,49.6,463.4,0.4,Unknown,Unknown,4.840
858,42.0,Unknown,Unknown,64.076919,Unknown,26.0,24.0,68.0,28.048496,7.504931,37.158250,64.6,494.8,0.6,Unknown,Unknown,6.960
1247,51.2,Unknown,Unknown,81.017834,Unknown,39.0,201.0,139.0,41.186649,5.539981,68.688959,31.8,339.2,0.2,Unknown,Unknown,7.184
690,45.4,Unknown,Unknown,88.957045,Unknown,26.0,17.0,54.0,28.547414,6.272588,49.489725,40.2,375.4,0.4,Unknown,Unknown,8.122
885,35.2,Unknown,Unknown,63.730861,Unknown,28.0,21.0,67.0,21.797926,6.250994,46.623702,85.2,322.6,0.4,Unknown,Unknown,7.400

In [76]:
final_df

,Moisture,Soil Type,Fertilizer Name,Humidity,Crop Name,N,K,P,Temperature,ph,Rainfall,CropDays,SoilMoisture,Irrigation,REGION,WEATHER CONDITION,WATER REQUIREMENT
0,38.0,Unknown,Unknown,52.000000,Unknown,37.0,0.0,0.0,26.0,5.634988,94.061365,76.2,387.6,0.2,Unknown,Unknown,6.150
1,45.0,Unknown,Unknown,52.000000,Unknown,12.0,0.0,36.0,29.0,7.023451,49.064973,76.2,387.6,0.2,Unknown,Unknown,5.900
2,62.0,Unknown,Unknown,65.000000,Unknown,7.0,9.0,30.0,34.0,6.963972,61.484169,31.0,428.0,0.2,Unknown,Unknown,7.260
3,34.0,Unknown,Unknown,62.000000,Unknown,22.0,0.0,20.0,32.0,6.129414,63.302061,52.0,473.8,0.2,Unknown,Unknown,10.200
4,46.0,Unknown,Unknown,54.000000,Unknown,35.0,0.0,0.0,28.0,5.634988,94.061365,94.4,479.6,0.4,Unknown,Unknown,6.150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,40.2,Unknown,Unknown,24.600000,Unknown,13.4,7.8,47.0,35.0,6.580795,102.647158,69.0,480.2,0.6,Unknown,Unknown,0.100
2876,46.0,Unknown,Unknown,93.568158,Unknown,55.8,50.0,59.6,45.0,6.690957,116.520486,41.6,586.0,1.0,Unknown,Unknown,4.625
2877,46.0,Unknown,Unknown,93.568158,Unknown,55.8,50.0,59.6,45.0,6.690957,116.520486,41.6,586.0,1.0,Unknown,Unknown,6.125
2878,46.0,Unknown,Unknown,93.568158,Unknown,55.8,50.0,59.6,45.0,6.690957,116.520486,41.6,586.0,1.0,Unknown,Unknown,5.625
2879,46.0,Unknown,Unknown,93.568158,Unknown,55.8,50.0,59.6,45.0,6.690957,116.520486,41.6,586.0,1.0,Unknown,Unknown,0.200

In [ ]:
final_df.shape

In [ ]:
final_df.to_csv('Final_dataset.csv', index=False)

In [78]:
df.sample(10)

,Moisture,Humidity,N,K,P,Temperature,ph,Rainfall,CropDays,SoilMoisture,...,REGION_desert,REGION_humid,REGION_semi arid,REGION_semi humid,REGION_nan,WEATHER CONDITION_normal,WEATHER CONDITION_rainy,WEATHER CONDITION_sunny,WEATHER CONDITION_windy,WEATHER CONDITION_nan
1126,43.2,77.382290,117.0,47.0,76.0,25.562022,6.119216,93.102472,55.0,415.8,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3679,46.0,93.568158,55.8,50.0,59.6,45.000000,6.690957,116.520486,41.6,586.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
869,44.0,69.843540,37.0,17.0,62.0,25.685767,7.121255,74.620687,25.0,364.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
893,43.2,63.547189,29.0,15.0,70.0,30.334997,6.872594,74.166991,49.4,450.8,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
5519,46.0,93.568158,55.8,50.0,59.6,45.000000,6.690957,116.520486,41.6,586.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
65,62.0,68.000000,15.0,0.0,40.0,36.000000,5.913152,56.725151,32.2,383.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2460,47.2,70.000000,41.6,17.6,60.4,21.000000,6.210137,90.303145,87.0,649.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3497,40.2,24.600000,13.4,7.8,47.0,35.000000,6.580795,102.647158,69.0,480.2,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
219,44.2,73.804353,77.0,21.0,57.0,24.932158,6.550564,79.740787,42.8,409.4,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3563,40.2,24.600000,13.4,7.8,47.0,35.000000,6.580795,102.647158,69.0,480.2,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [79]:
df.shape

(5680, 82)

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5680 entries, 0 to 5679
Data columns (total 82 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Moisture                  5680 non-null   float64
 1   Humidity                  5680 non-null   float64
 2   N                         5680 non-null   float64
 3   K                         5680 non-null   float64
 4   P                         5680 non-null   float64
 5   Temperature               5680 non-null   float64
 6   ph                        5680 non-null   float64
 7   Rainfall                  5680 non-null   float64
 8   CropDays                  5680 non-null   float64
 9   SoilMoisture              5680 non-null   float64
 10  Irrigation                5680 non-null   float64
 11  WATER REQUIREMENT         5680 non-null   float64
 12  Soil Type_black           5680 non-null   float64
 13  Soil Type_clayey          5680 non-null   float64
 14  Soil Type_dry             5680 non-null   float64
 15  Soil Type_humid           5680 non-null   float64
 16  Soil Type_loamy           5680 non-null   float64
 17  Soil Type_red             5680 non-null   float64
 18  Soil Type_sandy           5680 non-null   float64
 19  Soil Type_wet             5680 non-null   float64
 20  Soil Type_nan             5680 non-null   float64
 21  Fertilizer Name_10-26-26  5680 non-null   float64
 22  Fertilizer Name_14-35-14  5680 non-null   float64
 23  Fertilizer Name_17-17-17  5680 non-null   float64
 24  Fertilizer Name_20-20     5680 non-null   float64
 25  Fertilizer Name_28-28     5680 non-null   float64
 26  Fertilizer Name_dap       5680 non-null   float64
 27  Fertilizer Name_urea      5680 non-null   float64
 28  Fertilizer Name_nan       5680 non-null   float64
 29  Crop Name_apple           5680 non-null   float64
 30  Crop Name_banana          5680 non-null   float64
 31  Crop Name_barley          5680 non-null   float64
 32  Crop Name_bean            5680 non-null   float64
 33  Crop Name_blackgram       5680 non-null   float64
 34  Crop Name_cabbage         5680 non-null   float64
 35  Crop Name_chickpea        5680 non-null   float64
 36  Crop Name_citrus          5680 non-null   float64
 37  Crop Name_coconut         5680 non-null   float64
 38  Crop Name_coffee          5680 non-null   float64
 39  Crop Name_cotton          5680 non-null   float64
 40  Crop Name_garden flowers  5680 non-null   float64
 41  Crop Name_grapes          5680 non-null   float64
 42  Crop Name_ground nuts     5680 non-null   float64
 43  Crop Name_groundnuts      5680 non-null   float64
 44  Crop Name_jute            5680 non-null   float64
 45  Crop Name_kidneybeans     5680 non-null   float64
 46  Crop Name_lentil          5680 non-null   float64
 47  Crop Name_maize           5680 non-null   float64
 48  Crop Name_mango           5680 non-null   float64
 49  Crop Name_melon           5680 non-null   float64
 50  Crop Name_millets         5680 non-null   float64
 51  Crop Name_mothbeans       5680 non-null   float64
 52  Crop Name_mungbean        5680 non-null   float64
 53  Crop Name_muskmelon       5680 non-null   float64
 54  Crop Name_mustard         5680 non-null   float64
 55  Crop Name_oil seeds       5680 non-null   float64
 56  Crop Name_onion           5680 non-null   float64
 57  Crop Name_orange          5680 non-null   float64
 58  Crop Name_paddy           5680 non-null   float64
 59  Crop Name_papaya          5680 non-null   float64
 60  Crop Name_pigeonpeas      5680 non-null   float64
 61  Crop Name_pomegranate     5680 non-null   float64
 62  Crop Name_potato          5680 non-null   float64
 63  Crop Name_pulse           5680 non-null   float64
 64  Crop Name_pulses          5680 non-null   float64
 65  Crop Name_rice            5680 non-null   float64
 66  Crop Name_soyabean        5680 non-null   float64
 67  Crop Name_sugarcane       5680 non-null   float64
 68  Crop Name_tobacco         5680 non-null   float64
 69  Crop Name_tomato          5680 non-null   float64
 70  Crop Name_watermelon      5680 non-null   float64
 71  Crop Name_wheat           5680 non-null   float64
 72  REGION_desert             5680 non-null   float64
 73  REGION_humid              5680 non-null   float64
 74  REGION_semi arid          5680 non-null   float64
 75  REGION_semi humid         5680 non-null   float64
 76  REGION_nan                5680 non-null   float64
 77  WEATHER CONDITION_normal  5680 non-null   float64
 78  WEATHER CONDITION_rainy   5680 non-null   float64
 79  WEATHER CONDITION_sunny   5680 non-null   float64
 80  WEATHER CONDITION_windy   5680 non-null   float64
 81  WEATHER CONDITION_nan     5680 non-null   float64
dtypes: float64(82)
memory usage: 3.6 MB

In [3]:
final_df

,Moisture,Humidity,N,K,P,Temperature,ph,Rainfall,CropDays,SoilMoisture,...,REGION_desert,REGION_humid,REGION_semi arid,REGION_semi humid,REGION_nan,WEATHER CONDITION_normal,WEATHER CONDITION_rainy,WEATHER CONDITION_sunny,WEATHER CONDITION_windy,WEATHER CONDITION_nan
0,38.0,52.000000,37.0,0.0,0.0,26.0,5.634988,94.061365,76.2,387.6,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,45.0,52.000000,12.0,0.0,36.0,29.0,7.023451,49.064973,76.2,387.6,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,62.0,65.000000,7.0,9.0,30.0,34.0,6.963972,61.484169,31.0,428.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,34.0,62.000000,22.0,0.0,20.0,32.0,6.129414,63.302061,52.0,473.8,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,46.0,54.000000,35.0,0.0,0.0,28.0,5.634988,94.061365,94.4,479.6,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5675,40.2,24.600000,13.4,7.8,47.0,35.0,6.580795,102.647158,69.0,480.2,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5676,46.0,93.568158,55.8,50.0,59.6,45.0,6.690957,116.520486,41.6,586.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5677,46.0,93.568158,55.8,50.0,59.6,45.0,6.690957,116.520486,41.6,586.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5678,46.0,93.568158,55.8,50.0,59.6,45.0,6.690957,116.520486,41.6,586.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5679,46.0,93.568158,55.8,50.0,59.6,45.0,6.690957,116.520486,41.6,586.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0